/*Jumbotron code*/

  .jumbotron h1, .jumbotron h2 {
    float: left;
  }

  .jumbotron h1 {
    font-size: 7em;
    margin-bottom: -17px;
  }

  .jumbotron h2 {
    font-size: 2em;
  }

/*All hyperlinks*/

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #BA6924;
  text-align: center;
  font-size: 17px;
}

a:hover {
  color: #BA6924;
}

/*Navbar Code*/
nav {
  background-color: rgba(0, 153, 204, 0.5);
  border-style: solid;
  border-width: 3px 0px;
}

  nav li {
    display: inline-block;
    margin: 11px;
    text-align: center
  }

  nav a {
    background-color: #FFF;
    border-radius: 5px;
    padding: 7px;
    margin: 11px;
  }

  /*Header code */

h1, h2 h3{
  text-align: left;
  /*float: left;*/
}

h1 {
 color: #BA6924;
 font-family: 'Archivo Black', sans-serif;
 text-transform: uppercase;
}

h2 {
  font-size: 29px;
  color: #0099cc;
}

h3 {
  font-size: 16px;
  color:rgb(102, 102, 102);
}

h2, h3, p, p ~ ul {
  margin: 5px;
  font-family: 'Roboto', sans-serif;
}


/*Beat Code*/

.container {
  border: 1px solid rgba(0, 0, 0, .1);
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.1)
}

  .container h1 {
    font-size: 50px;
    text-align: center;
  }

  .emphasis, .content {
    padding: 30px 10px;
  }

  .emphasis:nth-of-type(odd) {
    float: left;
  }


  .emphasis:nth-of-type(even) {
    float: right;
  }


.clear {
  clear:both;
}

footer {
height: 40px;
}

footer p {
  float: left;
}

footer a {
  float:right;
}

/* Font families:
font-family: 'Roboto', sans-serif;
font-family: 'Archivo Black', sans-serif;

Colors:
Brown: #BA6924
Blue: #0099cc;