* {

}

.header {
  display: block;
  width: 100%;
  min-width: 740px;
  float:left;
}

.header-text {
  margin-top: 15px;
  float:left;
  }

.header-image {
    float: right;
  }

.header-text h1 {
 color: #BA6924;
 font-size: 125px;
 margin-top: 30px;
 margin-left:10px;
}

.header-text h2 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  margin-left:10px;
  color: #0099cc;
  /*text-transform: uppercase;*/
  text-align: center;
  margin: 5px;
}

h1 {
 color: #BA6924;
 font-family: 'Archivo Black', sans-serif;
 font-size: 58px;
 margin: 10px;
 text-transform: uppercase;
}

h2 {
  font-size: 29px;
  color: #0099cc;
  text-align: center;
  margin: 5px;
}

h3 {
  font-size: 16px;
  color:rgb(102, 102, 102);
  text-align: center;
  margin: 5px;
}

h2, h3, p, ul, li {
  margin: 10px;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: inline-block;
  background-color: rgba(0, 153, 204, 0.5);
  width: 100%;
  min-width: 740px;
  border-style: solid;
  border-width: 5px 0px;
}

nav li {
  display: inline-block;
  margin: 11px;
  text-align: center
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #BA6924;
}

nav a, .beatLeft a, .beatRight a {
  text-align: center;
  font-size: 17px;
}

nav a {
  background-color: #FFF;
  border-radius: 5px;
  padding: 7px;
  margin: 11px;
}

a:hover {
 color: #BA6924;
}

.beat {
  border: 1px solid rgba(0, 0, 0, .1);
  width: 97%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 740px;
  max-width:1400px;
  height: 400px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.1)
  }

.beatLeft {
  float:left;
  width:45%;
  text-align: center;
  margin-top: 70px;
}

.contentLeft {
  display: inline-block;
  float: right;
  width: 45%;
  margin-right: 20px;
}

.beatRight {
  float:right;
  width:45%;
  text-align: center;
  margin-top: 70px;
}

.contentRight {
  display: inline-block;
  float: left;
  width: 45%;
  margin-left: 20px;
}

/* .contentLeft a, .contentRight a {
  text-align: left;
  display: inline;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #BA6924;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
} */

.clear {
  clear:both;
}

footer {
height: 40px;
}

footer p {
  float: left;
}

footer a {
  float:right;
}

/* Font families:
font-family: 'Roboto', sans-serif;
font-family: 'Archivo Black', sans-serif;

Colors:
Brown: #BA6924
Blue: #0099cc;